a { text-decoration: none; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.body-container{
    padding-top: 70px;
}
.menu-item-box{
    display:block;
    background-color:#eeeeee;
    border:solid #000000 1px;
}
.menu-item-img{
    height:40px;
    width:40px;
}
.menu-item-name{
    margin:auto;
}