a { text-decoration: none; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.body-container{
    padding-top: 70px;
}
.pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}
.content-section{
    background: #ffffff;
    padding: 10px 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-top: 10px;
}
.menu-item-box{
    background-color:#efefef;
    border:solid #efefef 2px;
    border-radius:10px;
    text-align:center;
    padding:25px;
}
.menu-item-img{
    height:70px;
    width:70px;
}
.menu-item-name{
    text-align: center;
    margin-top:10px;
    font-size:20px;
}